
body, html {
    background-color: #272755;
color: #cccccc;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  margin: 0 auto;
  overflow: auto;
  position: relative;
}
.font-weight-900 {
  font-weight: 900;
}
.card {
  color: black;
}
input {
  border-bottom: none;
}
.rounder {
  border-radius: 15px;
}
.jumbo {
  padding: 15px;
  box-sizing: border-box11;
  text-align: center;
  min-height: 200px;
  /* background-color: #313232; */
}

.jumbo h1 {
  font-weight: 800;
  font-size: 4rem;
  margin-top: 0;
}
h1 {
  margin: none;
  margin-left: 14px;
}
footer a {
  color: white;
  text-decoration: none;
}
footer a:hover {
  font-weight: bold;
  text-decoration: underline;
}
input {
  border-radius: 10px 0px 0px 10px;
  padding: 10px;
  font-size: 1.4rem;
  margin: 0px;
  outline: none ;  
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  box-sizing: border-box;
  border: none !important;
  background-color: #111122;
  color: white;
  border: 1px solid white;
}
input:first {
    outline: none;  ;
}
.buttons {
  margin-right: 15px;
}
.pad {
  padding-top: 100px;
  padding-bottom: 100px;
}
.btn {
  box-sizing: border-box;
  border-radius: 4px;
  /* margin-top: 20px; */
  background-color: #cccccc;
  color: #111122;
  text-decoration: none;
  border: 2px solid #cccccc;
  display: inline-block;
}
.inverted {
  color: #cccccc;
  background-color: #111122;
  transition: all 300ms linear;
}
.btn:hover {
  background-color: #dddddd;
  color: #111111;
}
.flex {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: space-between;
}
table thead th {
  color: white;  
  text-align: center;
}
table tbody td {
  color: white;
  text-align: center;
}
.align-end {
  align-items: center;
}
button.submit {
  display: inline-block;
  padding: 20px 12px;
  box-sizing: border-box;
  /* width: 25%; */
  border-radius:  0px 10px 10px 0px;
  background-color: green;
  color: white;
  border: none;
}
.container {
  /* width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding: 20px; */
}
.w-50 {
  width: 50%;
}
.submit {
    border-radius: 10px;  
    font-size: 1.4rem;
    /* width: 100%; */
}
.half {
  background-color: rgb(244, 244, 244, 0.8);
  color: #111;
  font-size: 1.4rem;
  box-sizing: border-box;
  padding: 20px;
}
.nav-flex {
  display: flex;
  align-items: flex-end;
}
header nav a {
  color: white;
  /* font-size: 1.2rem  ; */
  display: inline-block;
  text-decoration: none;
  padding: 14px 56px;
}
.half {
  width: 50%;
  border-radius: 10px;
}
.d-flex {
    display: flex;
}
.bb-disabled {
  box-sizing: border-box;
}
.w-75 {
  width: 60%;
}
.m-auto {
  margin: auto;
  padding: 0;
}
footer {
  padding: 40px;
  background-color: #111314;
  color: white;
  min-height: 10vh;
  margin-top: 40px;
}
footer .col b {
  margin-bottom: 5px;
  display: inline-block;
}
.yellow {
  color: rgb(237, 184, 62);
}
.col {
  width: 25%;
width: 25%; 
  width: 25%;
}
.pos-bot {
  position: absolute;
  bottom: 0;
}
.em {
  font-size: 1.8rem;
  font-weight: 800;
  padding: 15px 15px;
}
header a {
    /* font-size: 1.8rem; */
}

@media screen and (max-width: 680px) {
  .nav-flex {
    display: none;
  }
  .jumbo {
    font-size: 0.8rem;
  }
  .jumbo h1 {
    font-size: 2rem;
  }
  footer {
    padding: 10px;
  }
  .half {
    width: 100%;
  }
  .col {
    width: 100%;
    margin-bottom: 34px;
  }
  .container {
    padding: 10px;
  }
}
